.gradle
/local.properties
.idea/workspace.xml
.idea/libraries
.idea/tasks.xml
.idea/dataSources.*
.idea/caches
.idea/dictionaries/
.idea/module.xml
.idea/navEditor.xml
.idea/misc.xml

*.iml

signing.properties

.DS_Store
/build

*.apk
*.ap_
*.dex

*.class
*~
